/* -- Various -- */
:root {
    /* common color */
    --color-primary: #2E2F42;
    /* --color-secondary: #757575;*/
    --color-accent: #404BBF;

    /* color-text */
    --color-logo: #4D5AE5;
    --color-logo-header: #2E2F42;
    --color-logo-footer: #F4F4FD;
    --color-address: #434455;
    --color-footer: #E7E9FC; 
    /* --color-hero: #fff; */
    --color-btn-hero: #fff;
    --color-btn-portfolio: #4D5AE5;
    --color-btn-portfolio-hover: #fff;

    /* background-color */
    --bg-color: #fff;
    --bg-color-dark: #2E2F42;
    /* --bg-color-light: #F5F4FA; */
    --bg-color-btn-hero: #4D5AE5;
    --bg-color-btn-hero-hover: #404BBF;
    --bg-color-btn-portfolio: #F4F4FD;
    --bg-color-btn-portfolio-hover: #404BBF;

    /* border-color */
    --brd-color-btn-portfolio: #E7E9FC;
    /* fonts */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}

/* -- Global -- */
body {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: calc(24px/16px);
    font-weight: 400;
    background-color: var(--bg-color);
}

/* -- Common for All Pages -- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.list .current-page {
    color: var(--color-accent);
}

/* UI components */
.link {
    font-family: var(--font-primary);
    text-decoration: none;
}

.link:is(:hover,:focus) {
    color: var(--color-accent);
}

.button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: calc(24/16);
    cursor: pointer;
}

.hero-btn {
    color: var(--color-btn-hero);
    background-color: var(--bg-color-btn-hero);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:is(:hover, :focus) {
    background-color: var(--bg-color-btn-hero-hover);
    
}

.btn-portfolio {
    color: var(--color-btn-portfolio);
    background-color: var(--bg-color-btn-portfolio);
    border: 1px solid var(--brd-color-btn-portfolio);
    border-radius: 4px;
}

.btn-portfolio:is(:hover, :focus) {
    color: var(--color-btn-portfolio-hover);
    background-color: var(--bg-color-btn-portfolio-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Header & Footer */

.logo {
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 800;
    line-height: calc(24/18);
    text-decoration: none;
    color: var(--color-logo);
}

.logo-part-header {
    color: var(--color-logo-header);
}

.logo-part-footer {
    color: var(--color-logo-footer);
}

.nav-link {
    color: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: calc(24/16);
}

.contact-link {
    color: var(--color-address);
    font-size: inherit;
    font-weight: inherit;
    font-style: normal;
    line-height: calc(24/16);
}

.footer {
    background-color: var(--bg-color-dark);
}

.footer-text {
    color: var(--color-footer)
}

/* -- Main Page -- */

.hero-section {}

.hero-title {}

.features {}

.features-title {}

.features-text {}

.whatwedo {}

.team {}

.team-item {}

.team-description {}

/* -- Portfolio Page -- */

.portfolio-item-title {}

.portfolio-item-type {}